@import 'input.css';
@import 'ripple.css';
@import 'full-calendar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Vazirmatn/woff2/Vazirmatn-Regular.woff2') format('woff2'), url('/fonts/Vazirmatn/ttf/Vazirmatn-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Vazirmatn/woff2/Vazirmatn-Medium.woff2') format('woff2'), url('/fonts/Vazirmatn/ttf/Vazirmatn-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Vazirmatn/woff2/Vazirmatn-Bold.woff2') format('woff2'), url('/fonts/Vazirmatn/ttf/Vazirmatn-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Inter/woff2/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Inter/woff2/Inter-Medium.woff2') format('woff2');
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Inter/woff2/Inter-Bold.woff2') format('woff2');
}

@layer base {
    html {
        font-family: Inter, Vazirmatn, sans-serif;
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #0D3B66;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #10497F;
}

.custom-gradient {
    background: linear-gradient(270deg, rgba(20, 89, 154, 0.50) 0%, rgba(20, 89, 154, 0.00) 97.97%);
}
