input {
  -webkit-appearance: none;
  margin: 0;
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out !important;
  -webkit-transition-delay: 9999s !important;
  transition: color 9999s ease-out, background-color 9999s ease-out !important;
  transition-delay: 9999s !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
